

.row {
    width: 100%;   
    display: flex;
    border: 1px solid blue;    
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*
--- Se pasa al sistema BORDER-BOX para que el tamaño de los elemntos incluya su padding y borde. 
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/*
--- FIN BORDER-BOX  
*/


/*-------------Mis css------------------*/
body{
    margin: 0px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    background-color: white;
    
}

.encabezado{
    background-color: rgb(61, 61, 61);

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

.logo{
    grid-row: 1 /span 2;
    align-self: center;
    padding: 10px;
}



.contenido{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.menuLateral{
    grid-column: 2;
    grid-row: 1 /span 2;
}

.trailers{
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-around;
}

.tertulia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.texto{
    grid-column: 1 /span 2;
}


.cabezaF{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 150px;
}

.apps{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 200px;
}

.face{
    grid-column:  2;
    grid-row: 1 /span 2;
}

.FMenu{
    grid-column:  3;
    grid-row: 1 /span 2;
}

.foo{
    display: flex;
    justify-content: space-between;
    
}
