    @media screen  {
        img{
            display: block;
            margin: auto;
        }

        p{
            font-size: 20px;
            font-weight: 900;
        }
    }

    @import url(ejercicioCss.html) screen;