    @media all {
        img{
            display: block;
            margin: auto;
        }

        p{
            font-size: 20px;
            font-weight: 900;
            text-align: left;
            color: brown;
        }
    }

    @media print {
        
        p{
            color: green;
        }
    }

    