/*propiedades direccion*/
.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/*FIN propiedades de direccion*/
/*------------------------------------*/
/*Propiedades de envoltura flexible*/

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.wrap-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}

/*FIN proiedades envoltura flexible*/
/*------------------------------------*/
/*propiedades justify-content*/
.center-contenedor {
    display: flex;
    justify-content: center;

}

.start-contenedor {
    display: flex;
    justify-content: flex-start;

}

.end-contenedor {
    display: flex;
    justify-content: flex-end;

}

.around-contenedor {
    display: flex;
    justify-content: space-around;

}

.between-contenedor {
    display: flex;
    justify-content: space-between;

}

/* FIN propiedades justify-content FIN*/
/*------------------------------------*/
/*propiedades align-content*/
.space-between{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 600px;
    height: 500px;
}

.space-around{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 600px;
    height: 500px;
}

.strech{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 600px;
    height: 500px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 600px;
    height: 500px;
}
/*FIN propiedades align-content*/